.main-container {
    padding: 2.5rem;
    width: 100vw;
    height: calc(100vh - 5rem);
    display: flex;
}

.left {
    height: 100%;
    width: 300px;
    background-color: #B6C8D9;
}

.left, .right {
    border: solid #0056A3 1px;
    border-radius: 8px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    height: 100%;
    width: 100%;
    justify-content: end;
}

.top-left {
    display: flex;
    align-items: center;
    background-color: #0056A3;
    padding: 1rem;
}

.left-title {
    color: white;
    margin-left: 1rem;
    text-align: center;
}

.new-chat-button {
    border-radius: 20px;
    background-color: white;
    border: 1px solid #21405F;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.new-chat-button:hover {
    background-color: #eeeeee;
}

.left-chats {
    height: 100%;
    margin-top: 10px;
}

.left-login {
    width: 100%;
    padding: 10px;
}

.login-button {
    border-radius: 20px;
    background-color: #0056A3;
    padding: 10px;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
    width: 100%;
    font-size: 1rem;
}

.login-button:hover {
    background-color: rgb(54, 105, 156);
}

.chat-container-space {
    width: 100%;
    height: 80%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    margin-bottom: 5px;
}

.chat-container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.chat-input {
    height: 7%;
    width: 60%;
    border-radius: 20px;
    background-color: #D9D9D9;
    margin-bottom: 30px;
    border: 1px solid #0056A3;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.chat-input-box {
    border-radius: 20px;
    border: none;
    background-color: #D9D9D9;
    width: 92%;
}
.chat-input-box:focus {
    outline: none;
}

.chat-send-button {
    border-radius: 50%;
    background-color: #21405F;
    aspect-ratio: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chat-send-button:hover {
    background-color: #2a527a;
}

.message-user {
    align-self: flex-end;
    background-color: #B6C8D9;
}

.message-system {
    align-self: flex-start;
}

.message-user, .message-system {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    word-break: break-word;
    max-width: 80%;
    margin-bottom: 10px;
    display: flex;
}

.title {
    font-size: 2rem;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-welcome {
    display: none;
}

.welcome-title, .welcome-body {
    color: #21405F;
}

.welcome-title {
    font-weight: bold;
    font-size: 3rem;
}

.welcome-img {
    height: auto;
    width: 10rem;
}

.welcome-body {
    margin-top: 10px;
    font-size: 1.5rem;
}

.system-avatar-container {
    height: 100%;
    width: 1.5rem;
    margin-right: 10px;
}

.system-avatar {
    width: 1.5rem;
    height: auto;
}

.chat-container-space::-webkit-scrollbar {
    width: 10px;
}

.chat-container-space::-webkit-scrollbar-track {
    background: #dddddd;
    border-radius: 20px;
}
  
.chat-container-space::-webkit-scrollbar-thumb {
    background: #607890;
    border-radius: 20px;
}

.chat-container-space::-webkit-scrollbar-thumb:hover {
    background: #425263;
}