.header{
    width: 100vw;
    height: 5rem;
    background-color: #0056A3;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-title{
    font-size: 1.5rem;
    color: white;
    margin-right: 1.5rem;
}

.header-image{
    width: auto;
    height: 5rem;
}

.navbar {
    width: 100vw;
    height: 3rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar-items li {
    height: 100%; /* Cada botón ocupa todo el alto del navbar */
    display: flex;
    align-items: center;
}

.navbar-items li a {
    font-size: 1.2rem;
    color: #0056A3;
    font-weight: bold;
    text-decoration: none;
    padding: 0 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
}

.navbar-items li a:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: #0056A3;
}

.navbar-items li a:active {
    background-color: rgb(54, 105, 156);
}