<div class="profile-container">
    <div class="column-left">
      <div class="avatar-circle">
        <i class="bi bi-person-fill" style="color: white; font-size: 6rem;"></i>
      </div>
      <button class="edit-photo-container">
        <i class="bi bi-camera" style="color: black; font-size: 1rem; margin-right: 5px;"></i>
        Editar foto de perfil
      </button>
  
      <!-- Botón de Cerrar Sesión -->
      <button class="logout-button" (click)="logout()">
        <i class="bi bi-box-arrow-right" style="margin-right:5px;"></i>
        Cerrar sesión
      </button>
    </div>
  
    <div class="column">
      <h1>Iván Dávila Puente</h1>
      <div class="row-container">
        <div class="row-child">
          <div class="title-tag">
            <i class="bi bi-person" style="color: black; font-size: 1.2rem; margin-right: 5px;"></i>
            Datos de identificación
          </div>
          <p>Ingeniería en Sistemas Inteligentes</p>
          <p>Facultad de Ingeniería</p>
          <div>
            <i class="bi bi-envelope" style="color: black; font-size: 1rem; margin-right: 5px;"></i>
            a335471mail.uaslp.mx
          </div>
  
          <div class="title-tag">
            <i class="bi bi-heart" style="color: black; font-size: 1rem; margin-right: 5px;"></i>
            Preferencias
          </div>
          <p>Ingeniería y Tecnología</p>
          <p>Ciencias Sociales</p>
          <p>Biotecnología</p>
        </div>
  
        <div class="row-child">
          <div class="title-tag">
            <i class="bi bi-hand-thumbs-up" style="color: black; font-size: 1.2rem; margin-right: 5px;"></i>
            Historial de interacciones
          </div>
          <p>
            <strong>Crepuscular</strong><br />
            Prattz González, José Luis (Universidad Autónoma de San Luis Potosí, 2012)
          </p>
          <p>
            <strong>El hombre del arrabal</strong><br />
            Cancino, Eduardo (Universidad Autónoma de San Luis Potosí, 2012)
          </p>
          <button class="see-more-button">Ver más</button>
  
          <div class="title-tag">
            <i class="bi bi-bookmarks" style="color: black; font-size: 1.2rem; margin-right: 5px;"></i>
            Elementos guardados
          </div>
          <p>
            <strong>Crepuscular Bueno</strong><br />
            Prattz González, José Luis (Universidad Autónoma de San Luis Potosí, 2012)
          </p>
          <p>
            <strong>El hombre del arrabal Mejor</strong><br />
            Cancino, Eduardo (Universidad Autónoma de San Luis Potosí, 2012)
          </p>
          <button class="see-more-button">Ver más</button>
        </div>
      </div>
    </div>
  </div>
  