<!-- document-view.component.html -->

<div class="document-container">
  <!-- Loading and error states -->
  <div *ngIf="loading" class="loading-container">
    <p>Loading document...</p>
  </div>

  <div *ngIf="error" class="error-container">
    <p>{{ error }}</p>
  </div>

  <!-- Document content -->
  <div *ngIf="document && !loading" class="column">
    <h1>{{ document.title }}</h1>
    <div class="row-container">
      <!-- Left panel -->
      <div class="row-child">
        <div class="title-tag">Información del documento</div>
        <p>
          <i
            class="bi bi-person"
            style="color: black; font-size: 1.2rem; margin-right: 5px"
          ></i
          ><strong>Autor:</strong> {{ document.author }}
        </p>
        <p>
          <strong>Fecha de publicación:</strong> {{ document.publication_date }}
        </p>
        <p>
          <strong>Área de conocimiento:</strong> {{ document.knowledge_area }}
        </p>
        <p><strong>Licencia:</strong> {{ document.license }}</p>
        <button class="see-more-button" (click)="viewInRepository()">
          Ver en el repositorio
        </button>
      </div>

      <!-- Right panel -->
      <div class="row-child">
        <div class="title-tag">
          <i
            class="bi bi-bookmarks"
            style="color: black; font-size: 1.2rem; margin-right: 5px"
          ></i>
          Opciones
        </div>
        <button
          class="see-more-button"
          [class.active]="saved"
          (click)="toggleSave()"
          [disabled]="savingDocument"
        >
          <span *ngIf="!savingDocument">
            {{ saved ? "Guardado" : "Guardar" }}
          </span>
          <span *ngIf="savingDocument" class="loading-content">
            <span class="spinner"></span>
            {{ saved ? "Eliminando..." : "Guardando..." }}
          </span>
        </button>

        <div class="title-tag">
          <i
            class="bi bi-person-check"
            style="color: black; font-size: 1.2rem; margin-right: 5px"
          ></i>
          Autoría
        </div>
        <button
          class="see-more-button"
          [class.active]="claimed"
          (click)="toggleClaim()"
          [disabled]="claimingDocument"
        >
          <span *ngIf="!claimingDocument">
            {{ claimed ? "Ya eres el autor" : "Soy el autor" }}
          </span>
          <span *ngIf="claimingDocument" class="loading-content">
            <span class="spinner"></span>
            {{ claimed ? "Liberando..." : "Reclamando..." }}
          </span>
        </button>
      </div>
    </div>
  </div>
   <!-- Toast notification -->
  <div *ngIf="showToast" class="toast toast-{{toastType}}">
    <span>{{ toastMessage }}</span>
    <i class="bi bi-x" (click)="showToast = false"></i>
  </div>
</div>
