<div class="left">
    <div class="top-left">
        <img src="/Logo-AVRI-Alt.png">
        <div class="left-title">
            Asistente Virtual RI
        </div>
    </div>
    <button class="new-chat-button" (click)="viewHome()">Nueva conversación +</button>
    <div class="left-chats">
        <div [ngClass]="{'no-chats-message': chats.length === 0, 'invisible': chats.length!== 0}">Aún no hay conversaciones</div>
        <div *ngFor="let chat of chats" class="sidebar-chat" (click)="loadMessages(chat.id)">
            <i class="bi bi-chat-left" style="color: black; font-size: 1rem; margin-right: 5px;"></i>
            {{chat.name}}
        </div>
    </div>
    <div class="left-login">
        <button [ngClass]="{'login-button': isLoggedIn === false, 'invisible': isLoggedIn === true}" (click)="openModal()">Iniciar sesión</button>
        <button [ngClass]="{'account-button': isLoggedIn === true, 'invisible': isLoggedIn === false}" (click)="viewProfile()">
            <div class="account-circle">
                D
            </div>
            Daphish
        </button>
    </div>
</div>
<app-login-modal *ngIf="isModalOpen" (closeModalEvent)="closeModal()"></app-login-modal>